src/themes/*
src/plugins/*
src/mu-plugins/*
src/assets/*

!.gitkeep
!src/plugins/.gitkeep
!src/mu-plugins/.gitkeep
!src/themes/.gitkeep
!src/assets/.gitkeep

# Custom Theme
!src/themes/starter-theme

### Sane Defaults
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
bower_components/
node_modules/
vendor/
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.nfs*
.idea
.vscode
.env
.scannerwork
.php_cs.cache