@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FS Untitled';
  src: url('../fonts/FSUntitled-Bold750.woff2') format('woff2'),
  url('../fonts/FSUntitled-Bold750.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Agile Sans';
  src: url('../fonts/AgileSans-Bold.woff2') format('woff2'),
  url('../fonts/AgileSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FS Untitled';
  src: url('../fonts/FSUntitled-Medium500.woff2') format('woff2'),
  url('../fonts/FSUntitled-Medium500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FS Untitled';
  src: url('../fonts/FSUntitled-Regular400.woff2') format('woff2'),
  url('../fonts/FSUntitled-Regular400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agile Sans SemiLight';
  src: url('../fonts/AgileSans-SemiLight.woff2') format('woff2'),
  url('../fonts/AgileSans-SemiLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

